.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-background-features);
}

.featureSvg {
  height: 75px;
  width: 75px;
  fill: var(--ifm-color-primary)
}
